/****** Object:  Table [dbo].[tb_cat_especialidades]    Script Date: 17/03/2026 02:38:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_cat_especialidades](
	[id_especialidad] [int] IDENTITY(1,1) NOT NULL,
	[clave] [varchar](10) NULL,
	[descripcion] [varchar](50) NULL,
	[status] [varchar](3) NULL,
	[duracion_consulta] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_especialidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_cat_medico]    Script Date: 17/03/2026 02:38:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_cat_medico](
	[id_medico] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[ap_paterno] [varchar](50) NULL,
	[ap_materno] [varchar](50) NULL,
	[status] [varchar](3) NULL,
	[id_especialidad] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_medico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_cat_paciente]    Script Date: 17/03/2026 02:38:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_cat_paciente](
	[id_paciente] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[ap_paterno] [varchar](50) NULL,
	[ap_materno] [varchar](50) NULL,
	[status] [varchar](3) NULL,
	[fh_nacimiento] [datetime] NULL,
	[telefono] [varchar](10) NULL,
	[email] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_paciente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_cat_status]    Script Date: 17/03/2026 02:38:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_cat_status](
	[status] [varchar](3) NOT NULL,
	[descripcion] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_cat_tipo_cita]    Script Date: 17/03/2026 02:38:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_cat_tipo_cita](
	[id_tipo_cita] [int] IDENTITY(1,1) NOT NULL,
	[clave] [varchar](10) NULL,
	[descripcion] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tipo_cita] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_citas_paciente]    Script Date: 17/03/2026 02:38:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_citas_paciente](
	[id_cita] [int] IDENTITY(1,1) NOT NULL,
	[id_medico] [int] NOT NULL,
	[id_paciente] [int] NOT NULL,
	[fecha_cita] [datetime] NULL,
	[fecha_cita_fin] [datetime] NULL,
	[motivo_cita] [varchar](150) NULL,
	[id_tipo_cita] [int] NOT NULL,
	[motivo_cancelacion] [varchar](150) NULL,
	[status] [varchar](3) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cita] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_dia_semana]    Script Date: 17/03/2026 02:38:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_dia_semana](
	[num_dia] [int] IDENTITY(1,1) NOT NULL,
	[dia] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[num_dia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_horario_medico]    Script Date: 17/03/2026 02:38:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_horario_medico](
	[id_medico] [int] NOT NULL,
	[num_dia] [int] NOT NULL,
	[hora_inicio] [time](7) NULL,
	[hora_fin] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_medico] ASC,
	[num_dia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vFechaCita]    Script Date: 17/03/2026 02:38:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vFechaCita](
	[fecha_cita] [datetime] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tb_cat_medico]  WITH CHECK ADD  CONSTRAINT [FKtb_cat_med590582] FOREIGN KEY([id_especialidad])
REFERENCES [dbo].[tb_cat_especialidades] ([id_especialidad])
GO
ALTER TABLE [dbo].[tb_cat_medico] CHECK CONSTRAINT [FKtb_cat_med590582]
GO
ALTER TABLE [dbo].[tb_citas_paciente]  WITH CHECK ADD  CONSTRAINT [FKtb_citas_p610626] FOREIGN KEY([id_medico])
REFERENCES [dbo].[tb_cat_medico] ([id_medico])
GO
ALTER TABLE [dbo].[tb_citas_paciente] CHECK CONSTRAINT [FKtb_citas_p610626]
GO
ALTER TABLE [dbo].[tb_citas_paciente]  WITH CHECK ADD  CONSTRAINT [FKtb_citas_p637644] FOREIGN KEY([id_tipo_cita])
REFERENCES [dbo].[tb_cat_tipo_cita] ([id_tipo_cita])
GO
ALTER TABLE [dbo].[tb_citas_paciente] CHECK CONSTRAINT [FKtb_citas_p637644]
GO
ALTER TABLE [dbo].[tb_citas_paciente]  WITH CHECK ADD  CONSTRAINT [FKtb_citas_p762493] FOREIGN KEY([id_paciente])
REFERENCES [dbo].[tb_cat_paciente] ([id_paciente])
GO
ALTER TABLE [dbo].[tb_citas_paciente] CHECK CONSTRAINT [FKtb_citas_p762493]
GO
ALTER TABLE [dbo].[tb_horario_medico]  WITH CHECK ADD  CONSTRAINT [FKtb_horario761116] FOREIGN KEY([id_medico])
REFERENCES [dbo].[tb_cat_medico] ([id_medico])
GO
ALTER TABLE [dbo].[tb_horario_medico] CHECK CONSTRAINT [FKtb_horario761116]
GO
ALTER TABLE [dbo].[tb_horario_medico]  WITH CHECK ADD  CONSTRAINT [FKtb_horario812530] FOREIGN KEY([num_dia])
REFERENCES [dbo].[tb_dia_semana] ([num_dia])
GO
ALTER TABLE [dbo].[tb_horario_medico] CHECK CONSTRAINT [FKtb_horario812530]
GO
/****** Object:  StoredProcedure [dbo].[sp_agenda_consultar]    Script Date: 17/03/2026 02:38:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   procedure [dbo].[sp_agenda_consultar] @id_medico integer, @fecha datetime
as

begin

	--return
	select cita.id_cita, 
		cita.id_medico, 
		cita.id_paciente,
		cita.fecha_cita,
		cita.fecha_cita_fin,
		cita.motivo_cita,
		s.descripcion estatus,
		concat(p.nombre, ' ', p.ap_paterno, ' ', p.ap_materno) paciente
	from tb_citas_paciente as cita
	join tb_cat_status as s on cita.status = s.status
	join tb_cat_paciente p on cita.id_paciente = p.id_paciente
	where cita.id_medico = @id_medico
		and FORMAT(fecha_cita, 'yyyy-MM-dd') = FORMAT(@fecha, 'yyyy-MM-dd')
		and cita.status = 'A';



end;
GO
/****** Object:  StoredProcedure [dbo].[sp_citas_agendar]    Script Date: 17/03/2026 02:38:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   procedure [dbo].[sp_citas_agendar]
	@id_medico integer,
	@id_paciente integer,
	@fecha_cita DateTime,
	@motivo_cita varchar(150),
	@id_tipo_cita integer
as
begin
 
	SET NOCOUNT ON; 

	--1.- Obtener el numero de minutos de consulta
	declare @vMinutosConsulta integer;

	set @vMinutosConsulta = (select duracion_consulta from tb_cat_especialidades
						where id_especialidad = (select id_especialidad from tb_cat_medico where id_medico = @id_medico))
	


	INSERT INTO tb_citas_paciente( id_medico, id_paciente, fecha_cita, fecha_cita_fin, motivo_cita, status, id_tipo_cita) 
	VALUES (@id_medico, @id_paciente, @fecha_cita, DATEADD(minute, @vMinutosConsulta,@fecha_cita) ,@motivo_cita, 'A', @id_tipo_cita);


	  SELECT SCOPE_IDENTITY() AS id_cita;

end;
GO
/****** Object:  StoredProcedure [dbo].[sp_citas_cancelar]    Script Date: 17/03/2026 02:38:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   procedure [dbo].[sp_citas_cancelar] @id_cita integer, @motivo_cancelacion varchar(150)
as 

begin
	
	SET NOCOUNT ON; 

	declare @vFechaCita datetime;

	select fecha_cita into vFechaCita
	from tb_citas_paciente
	where id_cita = @id_cita;


	if @vFechaCita < getDate()
	begin
		;
		THROW 51000, 'No puede cancelar citas anteriores a la fecha de hoy.', 1;
	end;

	update tb_citas_paciente
	set status = 'CN',
		motivo_cancelacion = @motivo_cancelacion
	where id_cita = @id_cita;

end;
GO
/****** Object:  StoredProcedure [dbo].[sp_citas_validar_nuevo]    Script Date: 17/03/2026 02:38:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   procedure [dbo].[sp_citas_validar_nuevo] @id_medico integer, @id_paciente integer, @dtmFecha datetime
as
begin

--0.- Validación de fecha pasada
	if @dtmFecha < getdate()
	begin
		;
		THROW 51000, 'No puede agendar la cita. No se puede elegir una fecha pasada', 1;
	end;


--1.- Obtener el numero de minutos que se tarda el doctor: duración por consulta
declare @vMinutosConsulta integer,
		 @vCountConsultas integer,
		 @vNumDia integer,
		 @vCountAux integer;

set @vMinutosConsulta = (select duracion_consulta from tb_cat_especialidades
						where id_especialidad = (select id_especialidad from tb_cat_medico where id_medico = @id_medico));

--2.- Teniendo los minutos, se consulta si no hay alguna consulta programada n minutos antes o n minutos despues
set @vCountConsultas = (
						select isnull(count(*),0) 
						from tb_citas_paciente
						where fecha_cita > DATEADD(minute, (@vMinutosConsulta * (-1)), @dtmFecha)
							and fecha_cita <= DATEADD(minute, @vMinutosConsulta, @dtmFecha)
							and id_medico = @id_medico
							and status = 'A'
						);

	if @vCountConsultas > 0
	begin
		;
		THROW 51000, 'No puede agendar la cita, ya que el horario choca con otras citas del médico', 1;
	end;

	--3.- Validación, si la cita entra dentro del horario del médico.
	-- Esta función la tomé de internet para obtener el numero de día, Lunes = 1, Martes = 2...
	set @vNumDia = (SELECT (DATEPART(dw, @dtmFecha) + @@DATEFIRST - 2) % 7 + 1 AS NumeroDia);

	set @vCountAux = (select isnull(count(*), 0) 
						from tb_horario_medico
						where num_dia = @vNumDia	
						and hora_inicio <= CAST(@dtmFecha AS TIME)
						and CAST(DATEADD(minute, @vMinutosConsulta, @dtmFecha) as TIME)  <= hora_fin
					);
	
	if @vCountAux <= 0
	begin
		;
		THROW 51000, 'No puede agendar la cita, ya que el horario seleccionado está fuera del horario del médico', 1;		
	end;

	--4.- Validar que el paciente no tenga otra cita en el mismo horario, 10 minutos antes a 10 minutos despues. 
	set @vCountConsultas = (
						select isnull(count(*),0) 
						from tb_citas_paciente
						where fecha_cita >= DATEADD(minute, (10 * (-1)), @dtmFecha)
							and fecha_cita <= DATEADD(minute, 10, @dtmFecha)
							and id_paciente = @id_paciente
							and status = 'A'
						);
	if @vCountConsultas > 0
	begin
		;
		THROW 51000, 'No puede agendar la cita, Se encontró otra cita en el mismo horario', 1;		
	end;


end;
